name: Build and Test Tender Document Generator

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_run_test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - name: Build Docker image
      run: docker build --build-arg git_token=${{ secrets.GITHUB_TOKEN }} --build-arg CACHEBUST=$(date +%s) --build-arg BRANCH=main --build-arg OWNER=${{ github.repository_owner }} -t tender-docxtemplate-app .
    - name: Run Tender app
      run: |
        # docker run -d --name tender-docxtemplate-app -p 8503:8503 hiennnnguyen/docxtemplate:version3
        docker run -d --name tender-docxtemplate-app -p 8503:8503 tender-docxtemplate-app
        sleep 10  # Give the container some time to start
    - name: Check container status
      run: docker inspect tender-docxtemplate-app

    - name: Run Robot Framework tests
      run: |
        pip install git+https://github.com/robotframework/SeleniumLibrary.git
        wget --no-verbose -O /tmp/chrome.deb https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_120.0.6099.71-1_amd64.deb
        sudo apt install -y --allow-downgrades /tmp/chrome.deb
        rm /tmp/chrome.deb
        wget https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/119.0.6045.105/linux64/chromedriver-linux64.zip
        unzip chromedriver-linux64.zip
        sudo cp chromedriver-linux64/chromedriver /usr/local/bin/
        robot tests/
    - name: Stop and remove container
      if: always()
      run: docker rm -f tender-docxtemplate-app

    - name: Downcase REPO
      run: |
        echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: '${{ github.repository_owner }}'
        password: '${{ secrets.GITHUB_TOKEN }}'
    - name: Push image to GitHub Container Registry
      run: |
        docker tag tender-docxtemplate-app:latest ghcr.io/${{ github.repository_owner }}/${{ env.REPO }}:v1.${{ github.run_number }}
        docker tag tender-docxtemplate-app:latest ghcr.io/${{ github.repository_owner }}/${{ env.REPO }}:latest
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.REPO }}:v1.${{ github.run_number }}
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.REPO }}:latest